@model ApplicationCore.Models.UserEditModel

@{
    ViewData["Title"] = "Edit Profile";
}

<h1>Edit Profile</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <textarea asp-for="FirstName" id="FirstNameTextArea" class="form-control" rows="1">@Model.FirstName </textarea>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <textarea asp-for="LastName" id="LastNameTextArea" class="form-control" rows="1">@Model.LastName </textarea>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <textarea asp-for="Email" id="EmailTextArea" class="form-control" rows="1">@Model.Email </textarea>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label">Date Of Birth</label>
                <textarea asp-for="DateOfBirth" id="DateOfBirthTextArea" class="form-control" rows="1">@Model.DateOfBirth </textarea>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List </a>
</div>